<div class="row" style="margin-bottom: 50px;">
    <h2 class="col-md-9" style="text-align: center;">User Profile</h2>
    <a class="col-md-3" style="text-align: center;cursor: pointer;" (click)="logout()">Logout</a>
</div>

<div class=" row">
    <div class="col-md-4" style="text-align: center;">
        <img [src]="userModel.picture" height="200" width="200">
        <div class="file-input margin-top-xs">
            <input type="file" (change)="onFileSelect($event.target.files)" name="imageFile" accept=".jpeg,.jpg,.png">
            <button class="btn">Edit Picture</button>
        </div>
    </div>
    <div class="col-md-4">
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
            <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="userModel.firstName" name="firstName" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="userModel.lastName" name="lastName" required>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
<hr>
<div *ngIf="userBills && userBills.length" style="padding: 15px;">
    <h3>BILLS</h3>
    <div class="row" *ngFor="let bill of userBills; let i=index">
        <div class="col-md-4">
            <p>Amount: {{bill.amount}}</p>
            <p>Status: {{bill.status}}</p>
        </div>
        <div *ngIf="bill.status!=appConst.billStatuses.paid" class="col-md-4">
            <ngx-paypal [config]="bill.payPalConfig"></ngx-paypal>
        </div>
        <br>
    </div>
</div>